{% extends "entete.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Réalisations professionnelles</title>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <center>
      <h1>Réalisations professionnelles</h1>
      <hr class="featurette-divider p-1">
    </center>

    <dv class="container">
      <form>
        <div class="col-md-6 mb-3">
          <label for="disabledTextInput">Libellé</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.libcourt}}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="disabledTextInput">Contexte</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.contexte}}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="disabledTextInput">Définition du besoin</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.descriptif}}">
        </div>
      </form>

      <br><br>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="disabledTextInput">Localisation</label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.localisation.libelle}}">
              </div>
              <div class="col-md-4 mb-3">
                <label for="disabledTextInput">Source</label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.source.libelle}}">
              </div>
              <div class="col-md-4 mb-3">
                <label for="disabledTextInput">Cadre</label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.cadre.libelle}}">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="disabledTextInput">Debut</label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.dateDebut|date('Y/M/D')}}">
              </div>
              <div class="col-md-6 mb-3">
                <label for="disabledTextInput">Fin</label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.dateFin|date("Y/M/D")}}">
              </div>
            </div>
          </form>
        </div>
      </div>

      <br>

      <form>
        <div class="col-md-6 mb-3">
          <label for="disabledTextInput">Env.tech</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.environnement}}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="disabledTextInput">Moyens</label>
          <input type="text" id="disabledTextInput" class="form-control" value="{{consulter.moyen}}">
        </div>
      </form>

  </div>
</body>
</html>
{% endblock %}
